.title {
    font-size: 3rem;
    text-align: center;
   
    margin-top: 5rem;
}

.container{
    width: 95%;
    margin: 0 auto;
    max-width: 100rem;
}

@media (min-width: 768px){
    .container{
        width: 60%;
        display: grid   ;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}


.errors{
    margin: auto;
    background-color: rgb(150, 87, 87);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 5rem;

}

@media screen and (max-width: 768px){
    .errors{
        font-size: 2rem;
        margin-top: 4rem;
    }
    
}